#delivery-options {
    height: 398px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.delivery-options__container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 1402px;
    height: 298px;
    gap: 20px;
}
.delivery-options__left {
    width: 691px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-light-gray);
    gap: 25px;
}
.delivery-options__right {
    width: 691px;
    height: 298px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-light-gray);
}
.delivery-options__title {
    width: 411px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-dark-blue, #052659);
    margin: 0 auto;
    text-transform: uppercase;
}
.delivery-options__logo {
    width: 411px;
    height: 116.3px;
    object-fit: contain;
}
.delivery-options__features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 26px;
    margin-bottom: 25px;
}
.delivery-options__button-container {
    width: 187px;
    height: 36px;
    background-color: var(--background-dark-blue, #052659);
}

.delivery-options__button {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-white, #FFFFFF);
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}
.delivery-options__subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-dark-blue, #052659);
    text-transform: uppercase;
}
.delivery-options__text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue, #011023);
}
.delivery-options__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media (max-width: 1440px){
    #delivery-options {
        height: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1.39vw; /* 20px */
    }
    .delivery-options__container {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        width: 97.36vw; /* 1402px */
        height: 20.69vw; /* 298px */
        gap: 1.39vw; /* 20px */
        margin-bottom: 6.94vw; /* 100px */
        padding: 0px !important; /* 20px */
    }
    .delivery-options__left {
        width: 47.99vw; /* 691px */
        height: 20.69vw; /* 298px */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background-light-gray);
        gap: 1.74vw; /* 25px */
    }
    .delivery-options__right {
        width: 47.99vw; /* 691px */
        height: 20.69vw; /* 298px */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background-light-gray);
    }
    .delivery-options__title {
        width: 45.54vw; /* 411px */
        height: 3.33vw; /* 48px */
        font-family: 'Inter', sans-serif;
        font-size: 2.78vw; /* 40px */
        font-weight: 500;
        line-height: 3.36vw; /* 48.41px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--background-dark-blue, #052659);
        margin: 0 auto;
        text-transform: uppercase;  
        display: flex;
        align-items: center;
        justify-content: center;      
    }
    .delivery-options__logo {
        width: 28.54vw; /* 411px */
        height: 8.07vw; /* 116.3px */
        object-fit: contain;
    }
    .delivery-options__logo img {
        width: 28.54vw; /* 411px */
        height: 8.07vw; /* 116.3px */
        object-fit: contain;
      }
      
    .delivery-options__features {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4.17vw; /* 60px */
        margin-top: 1.81vw; /* 26px */
        margin-bottom: 1.74vw; /* 25px */
    }
    .delivery-options__button-container {
        width: 12.99vw; /* 187px */
        height: 2.5vw; /* 36px */
        background-color: var(--background-dark-blue, #052659);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .delivery-options__button {
        width: 100%;
        height: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 1.04vw; /* 15px */
        font-weight: 700;
        line-height: 1.26vw; /* 18.15px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--text-white, #FFFFFF);
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-align: center;
    }
    .delivery-options__subtitle {
        font-family: 'Inter', sans-serif;
        font-size: 1.53vw; /* 22px */
        font-weight: 500;
        line-height: 1.85vw; /* 26.63px */
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--background-dark-blue, #052659);
        text-transform: uppercase;
    }
    .delivery-options__text {
        font-family: 'Inter', sans-serif;
        font-size: 1.25vw; /* 18px */
        font-weight: 500;
        line-height: 1.51vw; /* 21.78px */
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--text-dark-blue, #011023);
    }
    .delivery-options__feature {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.69vw; /* 10px */
    }
    .delivery-options__icon {
        width: 4.72vw; /* 68px */
        height: 5.69vw; /* 82px */
    }
    
}
@media (max-width: 320px) {
    #delivery-options {
        height: 511px; 
    }
    .delivery-options__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;    
        width: 300px;
        height: 511px;
        gap: 10px;
    }
    .delivery-options__left {
        width: 300px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background-light-gray);
        gap: 15px;
    }
    .delivery-options__right {
        width: 300px;
        height: 371px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background-light-gray);
    }
    .delivery-options__title {
        width: 206px;
        height: 24px;    
        font-size: 20px;     
        line-height: 24.21px;     
    }
    .delivery-options__logo {
        width: 178px;
        height: 51px;
        object-fit: contain;
    }
    .delivery-options__features {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .delivery-options__button-container {
        width: 268px;
        height: 44px;
        background-color: var(--background-dark-blue, #052659);
    }    
    .delivery-options__button {
        width: 268px;
        height: 44px;    
        font-size: 16px;    
        line-height: 19.36px;       
    }
    .delivery-options__subtitle {
        font-size: 16px;
        line-height: 19.36px;
    }
    .delivery-options__text {
        font-size: 16px;
        line-height: 19.36px;   
    }
    .delivery-options__feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .delivery-options__icon {
        width: 35px;
        height: 35px;
        object-fit: contain;
    }
    
}