.subcategory-products {
    max-width: 1440px;
    height: 1090px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    margin-bottom: 109px; 
    position: relative;
    overflow: visible;
}

.subcategory-products__title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    color: var(--background-dark-blue);
    margin-bottom: 25px;
}
.subcategory-products__breadcrumb {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    white-space: nowrap;
    margin-top: 50px;
    margin-bottom: 36px;
  }
  
  .subcategory-products__breadcrumb a {
    text-decoration: none;
    color: var(--text-dark-blue);
  }
  .subcategory-products__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}
  .subcategory-products__left {
    display: flex;
    flex-direction: column;
    width: 217px;
    gap: 20px; 
    box-sizing: border-box;
    /*margin-top: -40px;*/
  }
  .subcategory-products__manufacturers {
    width: 210px;
    /*height: 164px;*/
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .subcategory-products__manufacturer-item {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 190px;
    gap: 12px;
  }
  .subcategory-products__manufacturer-title,
.subcategory-products__colors-title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
}
.icon-dropdown {
    color: var(--text-dark-blue);    
    font-size: 20px; 
}

  .subcategory-products__colors {
    width: 153px;
    height: 164px;
    display: flex;
    flex-direction: column;
}
.subcategory-products__icon-unchecked,
.subcategory-products__icon-checked {
    width: 25px;
    height: 25px;
    color: var(--text-dark-blue);
}


.subcategory-products__color-item {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 190px;
    gap: 12px;
}

.subcategory-products__manufacturers,
.subcategory-products__colors {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.subcategory-products__manufacturer-item,
.subcategory-products__color-item {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    color: var(--text-dark-blue);
}

.subcategory-products__price-range {
    width: 218px;
    height: 86px;
    display: flex;
    flex-direction: column;
  }
  .subcategory-products__price-min,
  .subcategory-products__price-max {
    width: 98px;
    height: 32px;
    border: 1px solid var(--background-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
  }
  .subcategory-products__price-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
  }
  .subcategory-products__price-title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    margin-bottom: 15px;
}

.subcategory-products__sort {
    width: 607px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.subcategory-products__sort-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.subcategory-products__sort-options button {
    background-color: transparent;
    color: var(--text-dark-blue);
    border: 1px solid var(--background-light-blue-2);
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.subcategory-products__sort-options button.active {
    background-color: var(--background-light-blue-2);
    color: white;
    border-color: var(--background-light-blue-2);
}

.subcategory-products__sort-options button:hover {
    background-color: var(--background-light-blue-2);
    color: white;
}

.subcategory-products__sort-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    color: var(--text-dark-blue);
}

.subcategory-products__sort-price {
    width: 130px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: var(--text-dark-blue);
    border: 1px solid var(--background-light-blue-2);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcategory-products__sort-popularity {
    width: 165px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: var(--text-dark-blue);
    border: 1px solid var(--background-light-blue-2);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcategory-products__sort-rating {
    width: 130px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: var(--text-dark-blue);
    border: 1px solid var(--background-light-blue-2);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.subcategory-products__wrapper {
    display: flex;
    flex-direction: column;
    width: 1164px;
}



.subcategory-products__list {
    width: 1162px;
    max-height: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
}

.subcategory-products__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 283px;
    max-height: 400px;
    height: auto;
    border: 1px solid var(--background-light-blue-2);
    position: relative;    
}
.subcategory-products__list a {
    text-decoration: none !important;
}

.subcategory-products__list a:hover {
    text-decoration: none !important;
}

.subcategory-products__image-wrapper {
    position: relative;
    width: 234.66px;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.subcategory-products__image {
    width: 234.66px;
    height: 188px;
}

.subcategory-products__icon--prev,
.subcategory-products__icon--next {
    width: 28px;
    height: 27px;
    background-color: #FFFFFF;
    border: 1px solid var(--background-light-blue-2);
    color: var(--text-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.subcategory-products__icon--prev {
    left: -10px;
}

.subcategory-products__icon--next {
    right: -10px;
}

.subcategory-products__name {
    width: 250px;
    height: 22px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    color: var(--text-dark-blue);
    margin-top: 25px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.subcategory-products__article {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: center;
    color: var(--text-dark-blue);
    margin-bottom: 18px;
}

.subcategory-products__price {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    text-align: center;
    color: var(--background-dark-blue);
    margin-bottom: 30px;
}

.subcategory-products-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 283px;
    height: 38px;
}

.subcategory-products-actions__add-to-cart {
    width: 217px;
    height: 38px;
    background-color: var(--background-dark-blue);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.subcategory-products-actions__quantity {
    display: flex;
    width: 112px;
    height: 38px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}

.subcategory-products-actions__value {
    width: 57px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border: 1px solid var(--background-light-blue-2);
}

.subcategory-products-actions__button {
    width: 28px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border: 1px solid var(--background-light-blue-2);
}


.subcategory-products__price-range {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subcategory-products__price-title {
    font-size: 16px;
    font-weight: bold;
}

.subcategory-products__price-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.subcategory-products__price-min,
.subcategory-products__price-max {
    font-size: 14px;
    font-weight: bold;
}

.subcategory-products__price-slider {
    width: 217px;
    height: 1px;
    background: var(--background-dark-blue);
    border-radius: 1px;
    position: relative;
}

.subcategory-products__slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    background: var(--background-dark-blue);
    border-radius: 1px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.subcategory-products__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--background-dark-blue);
    border-radius: 50%;
    cursor: pointer;
}

.subcategory-products__slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: var(--background-dark-blue);
    border-radius: 50%;
    cursor: pointer;
}
.subcategory-products__heart-icon {
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 24px;
    color: var(--background-dark-blue);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

@media (max-width: 1440px) {
    .subcategory-products {
        max-width: 100vw; /* 1440px */
        height: 75.69vw; /* 1090px */
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1.39vw; /* 20px */
        margin-bottom: 7.57vw; /* 109px */
    }
    
    .subcategory-products__title {
        font-family: 'Inter', sans-serif;
        font-size: 2.78vw; /* 40px */
        font-weight: 500;
        line-height: 3.36vw; /* 48.41px */
        text-align: left;
        color: var(--background-dark-blue);
        margin-bottom: 1.74vw; /* 25px */
    }
    .subcategory-products__breadcrumb {
        font-family: 'Inter', sans-serif;
        font-size: 0.97vw; /* 14px */
        font-weight: 500;
        line-height: 1.17vw; /* 16.94px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--text-dark-blue);
        white-space: nowrap;
        margin-top: 3.47vw; /* 50px */
        margin-bottom: 2.5vw; /* 36px */
      }
      
      .subcategory-products__breadcrumb a {
        text-decoration: none;
        color: var(--text-dark-blue);
      }
      .subcategory-products__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        padding: 1.39vw; /* 20px */
        gap: 1.39vw; /* 20px */
    }
      .subcategory-products__left {
        display: flex;
        flex-direction: column;
        width: 15.07vw; /* 217px */
        gap: 1.39vw; /* 20px */ 
        box-sizing: border-box;
        /*margin-top: -40px;*/
      }
      .subcategory-products__manufacturers {
        width: 14.58vw; /* 210px */
        /*height: 164px;*/
        display: flex;
        flex-direction: column;
        margin-top: 1.74vw; /* 25px */
      }
      .subcategory-products__manufacturer-item {
        font-family: 'Inter', sans-serif;
        font-size: 0.97vw; /* 14px */
        font-weight: 400;
        line-height: 1.17vw; /* 16.94px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;  
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 13.19vw; /* 190px */
        gap: 0.83vw; /* 12px */
      }
      .subcategory-products__manufacturer-title,
        .subcategory-products__colors-title {
        font-family: 'Inter', sans-serif;
        font-size: 1.11vw; /* 16px */
        font-weight: 700;
        line-height: 1.34vw; /* 19.36px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--text-dark-blue);
    }
        .icon-dropdown {
        color: var(--text-dark-blue);    
        font-size: 1.39vw; /* 20px */
    }
    
      .subcategory-products__colors {
        width: 10.63vw; /* 153px */
        height: 11.39vw; /* 164px */
        display: flex;
        flex-direction: column;
    }
    .subcategory-products__icon-unchecked,
    .subcategory-products__icon-checked {
        width: 1.74vw; /* 25px */
        height: 1.74vw; /* 25px */
        color: var(--text-dark-blue);
    }
    
    
    .subcategory-products__color-item {
        font-family: 'Inter', sans-serif;
        font-size: 0.97vw; /* 14px */
        font-weight: 400;
        line-height: 1.17vw; /* 16.94px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 13.19vw; /* 190px */
        gap: 0.83vw; /* 12px */
    }
    
    .subcategory-products__manufacturers,
    .subcategory-products__colors {
        display: flex;
        gap: 1.67vw; /* 24px */
        margin-bottom: 1.67vw; /* 24px */
    }
    
    .subcategory-products__manufacturer-item,
    .subcategory-products__color-item {
        font-family: 'Inter', sans-serif;
        font-size: 1.25vw; /* 18px */
        font-weight: 500;
        line-height: 1.51vw; /* 21.78px */
        text-align: left;
        color: var(--text-dark-blue);
    }
    
    .subcategory-products__price-range {
        width: 15.14vw; /* 218px */
        height: 5.97vw; /* 86px */
        display: flex;
        flex-direction: column;
      }
      .subcategory-products__price-min,
      .subcategory-products__price-max {
        width: 6.81vw; /* 98px */
        height: 2.22vw; /* 32px */
        border: 1px solid var(--background-dark-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        font-size: 0.97vw; /* 14px */
        font-weight: 400;
        line-height: 1.17vw; /* 16.94px */
        text-align: center;
      }
      .subcategory-products__price-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.69vw; /* 10px */
        margin-bottom: 1.04vw; /* 15px */
      }
      .subcategory-products__price-title {
        font-family: 'Inter', sans-serif;
        font-size: 1.11vw; /* 16px */
        font-weight: 700;
        line-height: 1.34vw; /* 19.36px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--text-dark-blue);
        margin-bottom: 1.04vw; /* 15px */
    }
    
    .subcategory-products__sort {
        width: 42.15vw; /* 607px */
        height: 4.51vw; /* 65px */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.04vw; /* 15px */
    }
    
    .subcategory-products__sort-options {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.04vw; /* 15px */
    }
    
    .subcategory-products__sort-options button {
        background-color: transparent;
        color: var(--text-dark-blue);
        border: 1px solid var(--background-light-blue-2);
        padding: 0.69vw 1.39vw; /* 10px 20px */
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
    
    .subcategory-products__sort-options button.active {
        background-color: var(--background-light-blue-2);
        color: white;
        border-color: var(--background-light-blue-2);
    }
    
    .subcategory-products__sort-options button:hover {
        background-color: var(--background-light-blue-2);
        color: white;
    }
    
    .subcategory-products__sort-title {
        font-family: 'Inter', sans-serif;
        font-size: 1.25vw; /* 18px */
        font-weight: 700;
        line-height: 1.51vw; /* 21.78px */
        text-align: left;
        color: var(--text-dark-blue);
    }
    
    .subcategory-products__sort-price {
        width: 9.03vw; /* 130px */
        height: 2.78vw; /* 40px */
        font-family: 'Inter', sans-serif;
        font-size: 1.11vw; /* 16px */
        font-weight: 500;
        line-height: 1.34vw; /* 19.36px */
        text-align: center;
        color: var(--text-dark-blue);
        border: 1px solid var(--background-light-blue-2);
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .subcategory-products__sort-popularity {
        width: 11.46vw; /* 165px */
        height: 2.78vw; /* 40px */
        font-family: 'Inter', sans-serif;
        font-size: 1.11vw; /* 16px */
        font-weight: 500;
        line-height: 1.34vw; /* 19.36px */
        text-align: center;
        color: var(--text-dark-blue);
        border: 1px solid var(--background-light-blue-2);
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .subcategory-products__sort-rating {
        width: 9.03vw; /* 130px */
        height: 2.78vw; /* 40px */
        font-family: 'Inter', sans-serif;
        font-size: 1.11vw; /* 16px */
        font-weight: 500;
        line-height: 1.34vw; /* 19.36px */
        text-align: center;
        color: var(--text-dark-blue);
        border: 1px solid var(--background-light-blue-2);
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .subcategory-products__wrapper {
        display: flex;
        flex-direction: column;
        width: 80.83vw; /* 1164px */
    }   
    
    
    .subcategory-products__list {
        width: 80.69vw; /* 1162px */
        max-height: 27.78vw; /* 400px */
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0.69vw; /* 10px */          
    }
    
    .subcategory-products__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 19.65vw; /* 283px */
        max-height: 27.78vw; /* 400px */
        height: auto;
        border: 1px solid var(--background-light-blue-2);
        position: relative;
    }
    
    .subcategory-products__image-wrapper {
        position: relative;
        width: 16.30vw; /* 234.66px */
        height: 13.06vw; /* 188px */
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    
    .subcategory-products__image {
        width: 16.30vw; /* 234.66px */
        height: 13.06vw; /* 188px */
    }
    
    .subcategory-products__icon--prev,
    .subcategory-products__icon--next {
        width: 1.94vw; /* 28px */
        height: 1.88vw; /* 27px */
        background-color: #FFFFFF;
        border: 1px solid var(--background-light-blue-2);
        color: var(--text-dark-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .subcategory-products__icon--prev {
        left: -0.69vw; /* -10px */
    }
    
    .subcategory-products__icon--next {
        right: -0.69vw; /* -10px */
    }
    
    .subcategory-products__name {
        width: 17.36vw; /* 250px */
        height: 1.53vw; /* 22px */
        font-family: 'Inter', sans-serif;
        font-size: 1.25vw; /* 18px */
        font-weight: 500;
        line-height: 1.51vw; /* 21.78px */
        text-align: center;
        color: var(--text-dark-blue);
        margin-top: 1.74vw; /* 25px */
        margin-bottom: 0.69vw; /* 10px */
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .subcategory-products__article {
        font-family: 'Inter', sans-serif;
        font-size: 0.97vw; /* 14px */
        font-weight: 500;
        line-height: 1.18vw; /* 16.94px */
        text-align: center;
        color: var(--text-dark-blue);
        margin-bottom: 1.25vw; /* 18px */
    }
    
    .subcategory-products__price {
        font-family: 'Inter', sans-serif;
        font-size: 2.08vw; /* 30px */
        font-weight: 500;
        line-height: 2.52vw; /* 36.31px */
        text-align: center;
        color: var(--background-dark-blue);
        margin-bottom: 2.08vw; /* 30px */
    }
    
    .subcategory-products-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 19.65vw; /* 283px */
        height: 2.64vw; /* 38px */
    }
    
    .subcategory-products-actions__add-to-cart {
        width: 15.07vw; /* 217px */
        height: 2.64vw; /* 38px */
        background-color: var(--background-dark-blue);
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        font-size: 1.11vw; /* 16px */
        font-weight: 500;
        line-height: 1.34vw; /* 19.36px */
        text-align: center;
        border: none;
        cursor: pointer;
    }
    
    .subcategory-products-actions__quantity {
        display: flex;
        width: 7.78vw; /* 112px */
        height: 2.64vw; /* 38px */
        background-color: #fff;
        align-items: center;
        justify-content: space-between;
    }
    
    .subcategory-products-actions__value {
        width: 3.96vw; /* 57px */
        height: 2.64vw; /* 38px */
        text-align: center;
        line-height: 2.64vw; /* 38px */
        border: 1px solid var(--background-light-blue-2);
    }
    
    .subcategory-products-actions__button {
        width: 1.94vw; /* 28px */
        height: 2.64vw; /* 38px */
        text-align: center;
        line-height: 2.64vw; /* 38px */
        background-color: #fff;
        border: none;
        cursor: pointer;
        border: 1px solid var(--background-light-blue-2);
    }
    
    
    .subcategory-products__price-range {
        display: flex;
        flex-direction: column;
        gap: 0.69vw; /* 10px */
    }
    
    .subcategory-products__price-title {
        font-size: 1.11vw; /* 16px */
        font-weight: bold;
    }
    
    .subcategory-products__price-inputs {
        display: flex;
        align-items: center;
        gap: 0.69vw; /* 10px */
        font-size: 0.97vw; /* 14px */
    }
    
    .subcategory-products__price-min,
    .subcategory-products__price-max {
        font-size: 0.97vw; /* 14px */
        font-weight: bold;
    }
    
    .subcategory-products__price-slider {
        width: 15.07vw; /* 217px */
        height: 0.07vw; /* 1px */
        background: var(--background-dark-blue);
        border-radius: 1px;
        position: relative;
    }
    
    .subcategory-products__slider {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        height: 0.07vw; /* 1px */
        background: var(--background-dark-blue);
        border-radius: 1px;
        outline: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .subcategory-products__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.83vw; /* 12px */
        height: 0.83vw; /* 12px */
        background: var(--background-dark-blue);
        border-radius: 50%;
        cursor: pointer;
    }
    
    .subcategory-products__slider::-moz-range-thumb {
        width: 0.83vw; /* 12px */
        height: 0.83vw; /* 12px */
        background: var(--background-dark-blue);
        border-radius: 50%;
        cursor: pointer;
    }
    .subcategory-products__heart-icon {
        position: absolute;
        top: 0.69vw; /* 10px */
        right: 4.17vw; /* 60px */
        font-size: 1.67vw; /* 24px */
        color: var(--background-dark-blue);
        cursor: pointer;
        transition: color 0.3s ease, transform 0.2s ease;
    }
    .subcategory-products-actions__value {
        font-family: 'Inter', sans-serif;
        font-size: 1.53vw; /* 22px */
        font-weight: 500;
        line-height: 1.85vw; /* 26.63px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

@media (max-width: 600px) {
    .subcategory-products {
        max-width: 100vw; 
        height: auto !important; 
        min-height: 130vw;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1.39vw; /* 20px */
        margin-bottom: 7.57vw; /* 109px */
        
    }
    .subcategory-products__list {
        width: 100%;
        max-height: 27.78vw; /* 400px */
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0.69vw; /* 10px */  
        display: grid;
        grid-template-columns: repeat(2, 1fr);      
    }
    .subcategory-products__item {
        width: 100%;  /* 45% оставляет место для отступов (gap) */
        height: auto; /* Сохраняем адаптивность */
    }
}
