#payment-options {
    max-width: 1440px;
    height: 221px;
    display: flex; 
    flex-direction: column;    
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box; 
}
.payment-options__content {
    width: 1289px;
    height: 123px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    
}
.payment-options__title {
    width: 561px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-dark-blue, #052659);
    text-transform: uppercase;
    margin-bottom: 34px;
}

.payment-options__logos {
    display: flex;
    gap: 66px;
    margin-left: 117px;
}
/*Мир*/
.payment-options__logo:first-child {
    width: 163.64px;
    height: 48px;
}

.payment-options__logo:first-child img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*VisaMaster*/
.payment-options__logo:nth-child(2) {
    width: 61.54px;
    height: 48px;
}

.payment-options__logo:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*Visa*/
.payment-options__logo:nth-child(3) {
    width: 150px;
    height: 48px;
}

.payment-options__logo:nth-child(3) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*СБП*/
.payment-options__logo:nth-child(4) {
    width: 90px;
    height: 48px;
}

.payment-options__logo:nth-child(4) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*Халва*/
.payment-options__logo:nth-child(5) {
    width: 271.09px;
    height: 48px;
}

.payment-options__logo:nth-child(5) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.payment-options__description-text {
    width: 130px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue, #011023);
    text-transform: uppercase;
}
@media (max-width: 1440px) {   
    #payment-options {
        max-width: 100%; /* 1440px */
        height: auto; /* 221px  15.35vw*/
        display: flex; 
        flex-direction: column;    
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        box-sizing: border-box; 
        padding: 0 1.39vw; /* 20px */
    }
    .payment-options__content {
        width: 89.51vw; /* 1289px */
        height: 8.54vw; /* 123px */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; 
        margin-bottom: 6.94vw; /* 100px */
    }
    .payment-options__title {
        width: 38.96vw; /* 561px */
        height: 3.33vw; /* 48px */
        font-family: 'Inter', sans-serif;
        font-size: 2.78vw; /* 40px */
        font-weight: 500;
        line-height: 3.36vw; /* 48.41px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--background-dark-blue, #052659);
        text-transform: uppercase;
        margin-bottom: 2.36vw; /* 34px */
        white-space: nowrap;
    }
    
    .payment-options__logos {
        display: flex;
        gap: 4.58vw; /* 66px */
        margin-left: 8.13vw; /* 117px */
    }
    /*Мир*/
    .payment-options__logo:first-child {
        width: 11.36vw; /* 163.64px */
        height: 3.33vw; /* 48px */
    }
    
    .payment-options__logo:first-child img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*VisaMaster*/
    .payment-options__logo:nth-child(2) {
        width: 4.28vw; /* 61.54px */
        height: 3.33vw; /* 48px */
    }
    
    .payment-options__logo:nth-child(2) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*Visa*/
    .payment-options__logo:nth-child(3) {
        width: 10.42vw; /* 150px */
        height: 3.33vw; /* 48px */
    }
    
    .payment-options__logo:nth-child(3) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*СБП*/
    .payment-options__logo:nth-child(4) {
        width: 6.25vw; /* 90px */
        height: 3.33vw; /* 48px */
    }
    
    .payment-options__logo:nth-child(4) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*Халва*/
    .payment-options__logo:nth-child(5) {
        width: 18.82vw; /* 271.09px */
        height: 3.33vw; /* 48px */
    }
    
    .payment-options__logo:nth-child(5) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .payment-options__description-text {
        width: 9.03vw; /* 130px */
        height: 3.33vw; /* 48px */
        font-family: 'Inter', sans-serif;
        font-size: 1.39vw; /* 20px */
        font-weight: 500;
        line-height: 1.68vw; /* 24.2px */
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--text-dark-blue, #011023);
        text-transform: uppercase;
    }
}   

@media (max-width: 425px) { 
    #payment-options {
        height: 260px;
    }
    .payment-options__content {
        width: 291px;
        height: 169px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 17px;
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 35px;
    }
    .payment-options__title {
        width: 281px;
        height: 24px;
        font-size: 20px;
        line-height: 24.2px;  
        margin-top: 0px; 
        margin-bottom: 0px;     
    }
    .payment-options__logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 0px;   
        row-gap: 17px;
        margin-left: 0px;
    }    
    /*Мир*/
    .payment-options__logo:first-child {
        width: 102px;
        height: 30px;
        order: 1;
        display: flex !important;
        text-align: center !important; 
        justify-content: center !important;
        margin: 0 auto;
    }    
    .payment-options__logo:first-child img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*Mastercard*/
    .payment-options__logo:nth-child(2) {
        width: 33px;
        height: 26px;
        order: 4;
        margin: 0 auto;
    }    
    .payment-options__logo:nth-child(2) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*Visa*/
    .payment-options__logo:nth-child(3) {
        width: 81.25x;
        height: 26px;
        order: 5;
        margin: 0 auto;
    }    
    .payment-options__logo:nth-child(3) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*СБП*/
    .payment-options__logo:nth-child(4) {
        width: 48.75px;
        height: 26px;
        order: 3;
        margin: 0 auto;
    }    
    .payment-options__logo:nth-child(4) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*Халва*/
    .payment-options__logo:nth-child(5) {
        width: 135px;
        height: 24.21px;
        order: 2;
        margin: 0 auto;
    }    
    .payment-options__logo:nth-child(5) img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .payment-options__description {
        order: 6;
       
    }
    
    .payment-options__description-text {
        width: 135px;
        height: 34px;    
        font-size: 14px;     
        line-height: 16.94px;  
        margin: 0 auto; 
        display: flex !important;
        text-align: center !important; 
        justify-content: center !important;
    }
}